<section class="b1">
  <svg class="botSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="botBoxOuter" points="0,10 100,0 100,100 0,85" />
    <polygon class="botBoxInner" points="3,16 99,2 97,93 1,83" />
  </svg>
  <div class="botBox">
    <img src="../assets/img/bot1.png" />
    <div>
      <h2>박부검</h2>
      <h3>컴퓨터 구매 가이드</h3>
      <p>
        "따뜻한 마음씨를 가져야죠."
        <br/> 화 한번 내지 않았을 것 같은 복학생 오빠, 컴퓨터 구매에 관한 모든 것을 알고 있다.
      </p>
      <button>채팅하기</button>
    </div>
  </div>
</section>

<section class="b2">
  <svg class="botSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="botBoxOuter" points="0,0 100,10 100,85 0,100" />
    <polygon class="botBoxInner" points="3,5 98,12 96,80 1,97" />
  </svg>
  <div class="botBox">
    <img src="../assets/img/bot2.png" />
    <div>
      <h2>전우성</h2>
      <h3>컴퓨터 고장해결</h3>
      <p>
        "내가 그런 것까지 알려줘야해?"
        <br/> 남신경쓸일 없어보이는 날라리 오빠, 사실 전공 과제가 남신경쓸일 없게 만드는 것이 아닐까?
      </p>
      <button>채팅하기</button>
    </div>
  </div>
</section>

<section class="b3">
  <svg class="botSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="botBoxOuter" points="0,10 100,0 100,100 0,85" />
    <polygon class="botBoxInner" points="3,15 98,2 96,94 2,84" />
  </svg>
  <div class="botBox">
    <img src="../assets/img/bot3.png" />
    <div>
      <h2>긴우빈</h2>
      <h3>컴퓨터 질의응답</h3>
      <p>
        추가 예정입니다.
      </p>
      <button>채팅하기 ></button>
    </div>
  </div>
</section>

<app-footer></app-footer>