#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url('../../assets/img/bg1.png');
    background-size: 200vw auto;
    background-position-x: 40%;
    z-index: -2;
}

#bot {
    position: absolute;
    width: 100vw;
    height: 60vh;
    bottom: 50px;
    background: url('../../assets/img/bot1_1.png');
    background-size: 100vw auto;
}